{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["clx", "clmx"],
  "tailwindAttributes": ["classNames"],
  "tailwindStylesheet": "./src/app/globals.css",

  "singleQuote": true
}
